@{
    Layout = null;
}

<form method="post">
    <div class="container">
        <label>Mail adresiniz</label>
        <input type="text" name="MemberMail" class="form-control" />
        <br />
        <label>Şifreniz </label>
        <input type="password" name="MemberPassword" class="form-control" />
        <br />
        <button class="btn btn-warning">Giriş Yap</button>
    </div>
</form>

